---
title: Credits
description:
  "The Modpack Dev Wiki is brought to you by [Datapack
  Hub](https://datapackhub.net) in collaboration with Aandeel."
---

# Credits

The Modpack Dev Wiki is a fork of the [Datapack Wiki](https://datapack.wiki/), managed by [Datapack Hub](https://datapackhub.net), based
on an original design and idea by [Aandeel](https://aandeel.co.uk).

Made by Chemma, Emmcha, Chemkma, and Echmakyl!!